<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="XRay Robot to push our test suite from a spreadsheet on Jira Globant">
    <meta name="author" content="sebastian.r@globant.com">
    <title>XRay Robot</title>

    <!-- Scripts -->
    <script src="../resource/bootstrap/js/jquery-2.0.3.min.js"></script>
    <script src="../resource/bootstrap/js/bootstrap.min.js"></script>
    <script src="../resource/bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/definitionPages.js"></script>
    <script src="../js/popup.js"></script>
    <script src="../js/framework/common.js"></script>
    <!-- Cascading Style Sheets -->
    <link href="../resource/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../resource/bootstrap/css/custom.css" rel="stylesheet" media="screen">
  </head>
  <body>
        <!-- Modal content-->
        <div class ="container" style="padding:20px;width:240px;height:250px;">
          <div class="modal-header">
            <h4 class="modal-title" style="width: 100%;text-align: center;position: relative;font-family: verdana; font-size: 20px;">XRay Robot</h4>
          </div>
          <div class="modal-body">
            <h5 style="width: 100%;text-align: center;position: relative;font-family: verdana; font-size: 16px;">App to help you to push tests from a spreadsheet!</h5>
          </div>
          <div class="modal-footer">
            <div class="btn-group" role="group">
              <button type="button" id="addTestBtn" class="btn btn-success" data-dismiss="modal" style="width: 100%;text-align: center;position: relative;font-family: verdana; font-size: 16px;">Add!</button>
            </div>
          </div>
        </div>
  </body>
</html>
